apiVersion: v1
kind: Service
metadata:
  name: php-mysql
  labels:
    app: php
spec:
  ports:
    - port: 3306
  selector:
    app: php
    tier: mysql
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: php
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-mysql
  labels:
    app: php
spec:
  selector:
    matchLabels:
      app: php
      tier: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: php
        tier: mysql
    spec:
      containers:
      - image: localhost/bbddmariadb:12
        name: mysql
        env:
        - name: MARIADB_ALLOW_EMPTY_ROOT_PASSWORD
          value: "1"
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim






