@import url("base.css");
body {
    background: #111;
    color: #0ff;
}

form {
    margin-top: 40px;
}

label {
    display: block;
    margin-top: 15px;
}

button {
    margin-top: 25px;
}
