@import url("base.css");

.perfil {
    width: 400px;
    margin: 40px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.perfil p {
    margin: 10px 0;
}
