name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      db:
          image: mariadb:12.1.2-noble
          env:
              MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
              MYSQL_DATABASE: foro
          ports:
              - 3306:3306
 
    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
    
    - name: Wait for database
      run: |
          until mysqladmin ping -h127.0.0.1 -uroot; do
            echo "Esperando a MariaDB..."
            sleep 2
          done
          echo "MariaDB lista"
          echo "RESULTADO= $?"

    - name: Base de Datos
      run: 
           mysql -h 127.0.0.1 -uroot foro < bbdd/foro.sql
           echo "RESULTADO= $?"



    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
